*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.hero{
     display: flex;
     flex-direction: column;
}

#header_hero{
     width: 100%;
     height: 70px;
     background-color: rgb(29, 29, 29);
}

#body_hero{
     /* width: 100; */
     height: 100vh;
     background-color: rgb(43, 43, 43);
}