@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #080808;
}

.logo_banner{
     width: 40px;
}

header {
     padding: 20px;
     position: sticky;
     top: 0;
     background: rgba(2, 2, 2, 0.1);
     padding: 1rem;
     backdrop-filter: blur(10px);
     text-align: center;
     border-radius: 10px;
     margin: 10px;
}

main {
  flex: 1;
  padding: 2rem;
  background: #080808;
  color: #fff;
}

footer {
  background: turquoise;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

a{
     text-decoration: none;
}


/* BIO SECTION */

.container p{
     font-family: "Syne Mono", monospace;
}

h1 span{
     color:rgb(0, 180, 120);
     font-family: "Syne Mono", monospace;
}

h1{
     font-family: "Syne Mono", monospace;
}