:root{
     --header-bg: -50;
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Poppins;
}

#container{
     height: 100vh;
     width: 100%;
     background-color: rgb(1, 1, 1);
     display: flex;
     flex-direction: column;
     overflow-x: auto;
}

.logo_{
     width: 40px;
     font-size: 800;
}

#header{
     position: sticky;
     top: 0;
     padding: 12px 15px;
     /* background-color: rgb(var(--header-bg), var(--header-bg), var(--header-bg), 0.2); */
     background-color: rgb(255, 255, 255, .1);
     /* background-color: aqua; */
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 10px;
     border-radius: 10px;
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px); /* For Safari */
}